.broken {
    height: 83px;
    width: 100px;
    background-color: #5040C9;;
    padding-left: 500px;
    margin-left: 1108px;
    margin-top: -1px;
    padding-bottom: 875px;
    border: solid;
    border-color: black;
    border-width: 1px;
}

.background {
    height: 958px;
    width: 1110px;
    background-color: #4A5559;
    border: solid;
    border-color: black;
    border-width: 1px;
}

h2 {
    color: white;
    margin-left: -5px;
   
}

.albuminfo {
    color: white;
    margin-left: -480px;
    margin-top: -900px;
}

.songnames {
    margin-left: -25px;
    font-size: small;
}

.heartBtn {
    background-color: transparent;
    border: 1px solid;
    /* margin-left: auto;
    margin-right: auto; */
    padding-top: -30px;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    margin-top: 13px;
    border-radius: 20px;
}

.brokenImg img{
    height: 850px;
    width: 850px;
    display: flexbox;
    margin-left: -1485px;
    margin-top: 50px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.9);
}

hr{
    margin-left: -20px;
}

.songlist {
    width: 350px;
    display: flex;
    justify-content: space-between;
}
